---
import {Body} from '../components/Body';
import {Footer} from '../components/Footer';
import {Header} from '../components/Header';
import {Project} from '../components/Project.tsx';
import {Technologies} from '../components/Technologies';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body>
		<Header client:load/>
		<main>
			<Body client:load/>
			<Technologies client:visible/>
			<Project client:visible/>
		</main>
		<Footer client:visible/>
	</body>
</html>


<style>
	html{
		scroll-behavior: smooth;
	}
</style>
